* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

main {
  background: #160b33;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  height: 27px;
  width: 174px;
  color: black;
  font-size: 11px;
  line-height: 13px;
  background: #43cdd0;
  border-radius: 10px;
  padding-left: 25px;
  margin-left: 21px;
  margin-right: 21px;
  border: 2px solid #1aedf0;
}

::placeholder {
  color: rgb(71, 70, 70);
}

.registerFormContainer {
  max-width: 266px;
  max-height: 630px;
  background: #2b2144;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 9px;
  padding-bottom: 20px;
}

.formTitle,
.question {
  font-weight: 800;
  line-height: 19px;
  text-align: center;
  color: #f8c85b;
  margin-bottom: 15px;
}

h1.formTitle {
  font-size: 16px;
}

h2.formTitle {
  font-size: 10px;
}

.formField {
  margin-bottom: 9px;
}

h2.question {
  font-size: 10px;
  color: white;
  margin-top: 15px;
}

.divider {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button {
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  display: block;
  background: #f8c85b;
  border-radius: 10px;
  border: 2px solid #f8b414;
  color: white;
  text-align: center;
  line-height: 19px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  margin-left: 27px;
  margin-right: 27px;
}

.button:hover {
  background-color: #f8b414;
}

.another {
  width: 210px;
  height: 28px;
  background: #43cdd0;
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 8px;
  font-weight: 700;
  text-align: center;
  padding-top: 9px;
  color: black;
  margin-bottom: 9px;
}

.another:hover {
  background-color: #1aedf0;
}

.enterButton {
  width: 150px;
  height: 22px;
  font-weight: 700;
  font-size: 11px;
  display: block;
  background: #f8c85b;
  border-radius: 10px;
  color: white;
  text-align: center;
  line-height: 13px;
  cursor: pointer;
  margin-left: 33px;
  border: 2px solid #f8b414;
}

.enterButton:hover {
  background-color: #f8b414;
}

a.createOne {
  color: white;
}

a.register {
  color: black;
}