html,
body {
  position: absolute;
  background-color: #eee;
  margin: 0;
  height: 100%;
  width: 100%;
  caret-color: transparent;
}

#app-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

#game-area {
  width: 100%;
  display: flex;
  background-color: #08032b;
  align-items: center;
  justify-content: center;
}

#board-area {
  display: grid;
}

#clock-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 20vw;
  height: 100%;
}

.clock-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #08032b;
  width: 100%;
  height: 6.25vw;
  margin: 20px;
}

.clock-face {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6a30c2;
  width: 92%;
  height: 92%;
  color: white;
}

.time {
  font-family: "Orbitron", sans-serif;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 6.25vw);
  grid-template-rows: repeat(8, 6.25vw);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#pieces {
  position: absolute;
  grid-area: 1 / 1 / 4 / 3;
  display: grid;
  grid-template-columns: repeat(8, 6.25vw);
  grid-template-rows: repeat(8, 6.25vw);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  z-index: 2;
}

.dark-square {
  background-color: #6a30c2;
  width: 100%;
  height: 100%;
}

.light-square {
  background-color: #e0dbe7;
  width: 100%;
  height: 100%;
}

.piece {
  background-size: contain;
}
.selected-piece {
  opacity: 50%;
}