* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

main {
    background: #160B33;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerFormContainer {
    max-width: 266px;
    max-height: 630px;
    background: #2B2144;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 9px;
    padding-bottom: 20px;
}

.formTitle,
.question {
    font-weight: 800;
    line-height: 19px;
    text-align: center;
    color: #F8C85B;
    margin-bottom: 15px;
}

h1.formTitle {
    font-size: 16px;
}

h2.formTitle {
    font-size: 10px;
}

input {
    height: 27px;
    width: 174px;
    color: black;
    font-size: 11px;
    line-height: 13px;
    background: #43CDD0;
    border-radius: 10px;
    padding-left: 25px;
    margin-left: 21px;
    margin-right: 21px;
    border: 2px solid #1aedf0;
}

::placeholder {
    color: rgb(71, 70, 70);
}

.formField {
    margin-bottom: 9px;
}

h2.question {
    font-size: 10px;
    color: white;
    margin-top: 15px;
}

.icon {
    display: block;
    margin-left: 3px;
    margin-bottom: 15px;
}

.level {
    width: 46px;
    height: 46px;
    background: #43CDD0;
    display: inline-block;
    margin-right: 3px;
    border-radius: 10px;
    text-align: center;
    padding-top: 7px;
}

.words {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 7px;
    line-height: 12px;
    text-align: center;
    color: white;
    margin-right: 3px;
    margin-left: 7px;
}

.iconWords {
    margin-left: 5px;
}

.button {
    width: 202px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    display: block;
    background: #F8C85B;
    border-radius: 10px;
    border: 2px solid #f8b414;
    color: white;
    text-align: center;
    line-height: 19px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-left: 7px;
    margin-right: 7px;
}

.button:hover {
    background-color: #f8b414;
}

.divider {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
}

.another {
    width: 210px;
    height: 28px;
    background: #43CDD0;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 8px;
    font-weight: 700;
    text-align: center;
    padding-top: 9px;
    color: black;
    margin-bottom: 9px;
}

a.register {
    text-decoration: none;
    color: black;
}

.another:hover {
    background-color: #1aedf0;
}

a.createOne {
    text-decoration: none;
    color: white;
}

.enterButton {
    width: 50px;
    height: 22px;
    font-weight: 700;
    font-size: 11px;
    display: block;
    background: #F8C85B;
    border-radius: 10px;
    color: white;
    text-align: center;
    line-height: 13px;
    cursor: pointer;
    margin-left: 83px;
    border: 2px solid #f8b414;

}

.enterButton:hover {
    background-color: #f8b414;
}