@use "utils" as *;

$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(134, 119, 228);
$color_type_2: rgb(247, 200, 93);
$color_type_3: rgb(255, 255, 255);
$color_type_4: rgb(44, 32, 68);
$color_type_5: rgb(63, 59, 82);
$color_type_6: rgb(68, 205, 207);

$border_radius_type_0: 22px 22px 22px 22px;

$font_type_0: 500 36px/1.2 "Roboto", Helvetica, Arial, serif;
$font_type_1: 500 28px/1.2 "Roboto", Helvetica, Arial, serif;
$font_type_2: 700 20px/1.2 "Roboto", Helvetica, Arial, serif;
$font_type_3: 400 16px/1.2 "Roboto", Helvetica, Arial, serif;

.root {
  @include flex-column;
  position: relative;
}
.box {
  @include flex-column;
  background-color: $color_type_0;
  height: 982px;
  position: relative;
}
.rect {
  background-color: $color_type_5;
  border-radius: $border_radius_type_0;
  width: 1238px;
  height: 624px;
  position: absolute;
  top: 252px;
  left: 137px;
  min-width: 1238px;
}
.wrapper {
  @include flex-column;
  background-color: $color_type_1;
  border-radius: $border_radius_type_0;
  width: 1238px;
  height: 78px;
  position: absolute;
  top: 252px;
  left: 137px;
  min-width: 1238px;
}
.title {
  @include font-face($font_type_1, $color_type_3, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 50px;
  min-width: 0px;
}
.title1 {
  @include font-face($font_type_1, $color_type_3, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 266px;
  min-width: 0px;
}
.title2 {
  @include font-face($font_type_1, $color_type_3, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 528px;
  min-width: 0px;
}
.title3 {
  @include font-face($font_type_1, $color_type_3, -0.2px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 766px;
  min-width: 0px;
}
.title4 {
  @include font-face($font_type_1, $color_type_3, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 1076px;
  min-width: 0px;
}
.wrapper1 {
  @include flex-column;
  background-color: $color_type_6;
  border-radius: $border_radius_type_0;
  width: 1238px;
  height: 78px;
  position: absolute;
  top: 357px;
  left: 138px;
  min-width: 1238px;
}
.title5 {
  @include font-face($font_type_1, $color_type_3, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 74px;
  min-width: 0px;
}
.title6 {
  @include font-face($font_type_1, $color_type_3, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 284px;
  min-width: 0px;
}
.title7 {
  @include font-face($font_type_1, $color_type_3, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 472px;
  min-width: 0px;
}
.title8 {
  @include font-face($font_type_1, $color_type_3, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 779px;
  min-width: 0px;
}
.wrapper11 {
  @include flex-column;
  background-color: $color_type_6;
  border-radius: $border_radius_type_0;
  width: 1238px;
  height: 78px;
  position: absolute;
  top: 669px;
  left: 138px;
  min-width: 1238px;
}
.title9 {
  @include font-face($font_type_1, $color_type_3, -0.6px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 472px;
  min-width: 0px;
}
.wrapper2 {
  @include flex-column;
  background-color: $color_type_4;
  border-radius: $border_radius_type_0;
  width: 1238px;
  height: 78px;
  position: absolute;
  top: 435px;
  left: 138px;
  min-width: 1238px;
}
.title10 {
  @include font-face($font_type_1, $color_type_3, -0.4px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 472px;
  min-width: 0px;
}
.title11 {
  @include font-face($font_type_1, $color_type_3, -0.2px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 779px;
  min-width: 0px;
}
.wrapper3 {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  width: 1238px;
  height: 78px;
  position: absolute;
  top: 513px;
  left: 137px;
  min-width: 1238px;
}
.wrapper21 {
  @include flex-column;
  background-color: $color_type_4;
  border-radius: $border_radius_type_0;
  width: 1238px;
  height: 78px;
  position: absolute;
  top: 591px;
  left: 137px;
  min-width: 1238px;
}
.title12 {
  @include font-face($font_type_1, $color_type_3, -0.2px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 472px;
  min-width: 0px;
}
.title13 {
  @include font-face($font_type_1, $color_type_3, -0.6px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 22px;
  min-height: 34px;
  left: 779px;
  min-width: 0px;
}
.wrapper4 {
  @include flex-column;
  background-color: $color_type_5;
  border-radius: $border_radius_type_0;
  width: 1238px;
  height: 143px;
  position: absolute;
  top: 77px;
  left: 137px;
  min-width: 1238px;
}
.icon {
  width: 75px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 34px;
  left: 50px;
  min-width: 75px;
}
.subtitle {
  @include font-face($font_type_2, $color_type_3, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 52px;
  left: 145px;
  min-width: 0px;
}
.big_title {
  @include font-face($font_type_0, $color_type_3, -0.4px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 50px;
  left: 475px;
  min-width: 0px;
}
.highlights {
  @include font-face($font_type_3, $color_type_3, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 84px;
  left: 145px;
  min-width: 0px;
}
.icon1 {
  width: 35px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 54px;
  left: 1138px;
  min-width: 35px;
}
.image {
  width: 13px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 65px;
  left: 1009px;
  min-width: 13px;
}
.image1 {
  width: 23px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 82px;
  left: 1004px;
  min-width: 23px;
}
.image2 {
  width: 8px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 67px;
  left: 1025px;
  min-width: 8px;
}
.icon2 {
  width: 11px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 54px;
  left: 1019px;
  min-width: 11px;
}
.image21 {
  width: 8px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 67px;
  left: 998px;
  min-width: 8px;
}
.icon21 {
  width: 11px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 54px;
  left: 1001px;
  min-width: 11px;
}
.image3 {
  width: 10px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 81px;
  left: 937px;
  min-width: 10px;
}
.image4 {
  width: 3px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 55px;
  left: 941px;
  min-width: 3px;
}
.icon3 {
  width: 31px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 57px;
  left: 927px;
  min-width: 31px;
}
.image5 {
  width: 26px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 67px;
  left: 929px;
  min-width: 26px;
}
.image6 {
  width: 21px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 58px;
  left: 933px;
  min-width: 21px;
}
