.NavbarItems{
    display: flex;
    justify-content: center;
    background-color: rgba(63, 59, 84, 1.0);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 95%;
    height:80px;
    box-sizing: border-box;
    border-radius: 13px;
    position:fixed;
    top:20px;
    left:50%;
    transform: translate(-50%);
}
.rating-text{
    align-items: center;
    color: #d8d1ff;
    display: flex;
    justify-content: space-between;
}
.rating-text h2 {
    position:fixed;
    right: calc(10%);
    
}
nav ul {
    color:#d8d1ff;
    font-size: large;
    font-family: Montserrat;
    font-size: 1.2vw;
    justify-content: space-between;
    font-weight: 500;
}

